.idea/misc.xml
.idea/.name
.idea/ClubLife.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/php.xml
.idea/modules.xml
.idea/dictionaries/Abijith_Krishna.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.xml